<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 컨트롤러 객체를 빈으로 등록 -->
    <bean id="userController" class="dev.aop.UserController"/>

    <!-- AOP를 적용하는 코드 -->
    <bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--targetName: AOP를 적용할 실제 대상이 되는 클래스(bean), 여기서는 UserController-->
        <property name="target" ref="userController" />

        <!-- interceptorNames: AOP를 적용할 때 처리할 Advice 이름(bean)-->
        <!-- interceptorNames: ProxyFactoryBean의 필드명 -->
        <property name="interceptorNames">
            <list>
                <value>simpleAdvice</value>
            </list>

        </property>

    </bean>

    <!-- SimpleAdvice 객체도 빈으로 등록, AOP 프록시에게 등록하기 위해 -->
    <bean id="simpleAdvice" class="dev.aop.SimpleAdvice"/>



</beans>