<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 컨트롤러 객체를 빈으로 등록 -->
    <bean id="userController" class="dev.aop.UserController"></bean>

    <!-- AOP를 적용하는 코드 -->



</beans>